<h1>Question#answer</h1>
<p>Find me in app/views/question/answer.html.erb</p>

<%= @user_input %>

<p>Resposta: <%= @resp %></p>
<p><%= link_to "Voltar para o ask", ask_path %></p>

<!-- syntax para ruby dentro do view que é html -- >
<!-- IMPO  _path é o comando para lincar com o locar certo  -->
