<h1>what should i do??</h1>
<p>Find me in app/views/question/ask.html.erb</p>

<!-- <h2> you can combine with ruby code in this place <%= Time.now %></h2> -->

<form action="answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="" name="query">
  <input type="submit" value="Go on!">
</form>
